{% extends 'base.html.twig' %}
{% block body %}

{{ include('partials/headers.html.twig') }}
<main role="main" class="flex-shrink-0 pt-2 pt-lg-5 justify-content-center">
  {{ include('partials/section-1.html.twig') }}
  <br/>
  <hr/>
  {{ include('partials/section-2.html.twig') }}
  {{ include('partials/section-3.html.twig') }}
  {{ include('partials/section-4.html.twig') }}
  <div class="container">
    <div class="row justify-content-center">
      <div style="width: 100px;">
        <hr style="border-width: 4px">
      </div>
    </div>
  </div>
  {{ include('partials/section-5.html.twig') }}
  <div class="container">
    <div class="row justify-content-center">
      <div style="width: 100px;">
        <hr style="border-width: 4px">
      </div>
    </div>
  </div>
  {{ include('partials/section-6.html.twig') }}
  <hr>
  {{ include('partials/section-7.html.twig') }}
  {{ include('partials/section-8.html.twig') }}
  {{ include('partials/support.html.twig') }}

</main>

{{ include('partials/footers.html.twig') }}


{% endblock %}
