<footer class="footer mt-auto py-3 pb-md-3 pt-md-5 font-roboto text-grey-1">
  <div class="container">
    <div class="row mb-md-4 mb-xl-5 mt-4">
      <div class="col-12 col-sm-6 col-lg-3 mb-2">
        <h6 class="font-size-95 text-grey-2 mb-3">HUBUNGI KAMI</h6>

        <ul class="list-unstyled font-size-85">
          <li><a href="#">0274-5305505</li>
            <li>Senin - Minggu</li>
            <li>24 Jam Nonstop</li>
          </ul>

          <ul class="list-unstyled font-size-85">
            <li>Jl. Selokan Mataram Monjali</li>
            <li>Karangjati MT 1/304</li>
            <li>Sinduadi, Mlati, Sleman</li>
            <li>Yogyakarta 55284</li>
          </ul>

        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-2">
          <h6 class="font-size-95 text-grey-2 mb-3">LAYANAN</h6>

          <ul class="list-unstyled font-size-85">
            <li><a href="#">Domain</a></li>
            <li><a href="#">Shared Hosting</a></li>
            <li><a href="#">Cloud VPS Hosting</a></li>
            <li><a href="#">Managed VPS Hosting</a></li>
            <li><a href="#">Web Builder</a></li>
            <li><a href="#">Keamanan SSL / HTTPS</a></li>
            <li><a href="#">Jasa Pembuatan Website</a></li>
            <li><a href="#">Program Affiliasi</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-2">
          <h6 class="font-size-95 text-grey-2 mb-3">SERVICE HOSTING</h6>

          <ul class="list-unstyled font-size-85">
            <li><a href="#">Hosting Murah</a></li>
            <li><a href="#">Hosting Indonesia</a></li>
            <li><a href="#">Hosting Singapura SG</a></li>
            <li><a href="#">Hosting PHP</a></li>
            <li><a href="#">Hosting Wordpress</a></li>
            <li><a href="#">Hosting Laravel</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 mb-2">
          <h6 class="font-size-95 text-grey-2 mb-3">TUTORIAL</h6>

          <ul class="list-unstyled font-size-85">
            <li><a href="#">Knowledgebase</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Cara Pembayaran</a></li>
          </ul>
        </div>
      </div>

      <div class="row mb-5 mb-xl-4">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-3 mb-2">
          <h6 class="font-size-95 text-grey-2 mb-3">TENTANG KAMI</h6>

          <ul class="list-unstyled font-size-85">
            <li><a href="#">Tim Niagahoster</a></li>
            <li><a href="#">Karir</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Penawaran & Promo Spesial</a></li>
            <li><a href="#">Kontak Kami</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-9 col-xl-3 mb-2">
          <h6 class="font-size-95 text-grey-2 mb-3">KENAPA PILIH NIAGAHOSTER?</h6>

          <ul class="list-unstyled font-size-85">
            <li><a href="#">Support Terbaik</a></li>
            <li><a href="#">Garansi Harga Termurah</a></li>
            <li><a href="#">Domain Gratis Selamanya</a></li>
            <li><a href="#">Datacenter Hosting Terbaik</a></li>
            <li><a href="#">Review Pelanggan</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <h6 class="font-size-95 text-grey-2 mb-3">NEWSLETTER</h6>
          <div class="input-group bg-white px-1 py-1 rounded-pill mb-1">
            <input type="text" class="form-control rounded-pill border-0 px-3 font-size-90" placeholder="Email" style="height: 45px;">
            <div class="input-group-inline">
              <button class="btn btn-primary bg-blue-3 border-blue-3 rounded-pill font-size-90" type="button" style="height: 100%">Berlangganan</button>
            </div>
          </div>
          <div class="font-size-85 text-grey-2">
            Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
          <h6 class="font-size-95 text-grey-2 mb-0 mb-sm-3" style="visibility:hidden">SOCIAL MEDIA</h6>
          <!-- <div class="d-flex justify-content-between"> -->
          <button type="button" class="btn btn-outline-light rounded-pill font-size-150 btn-sc-circle text-grey-1 border-grey-1 mr-2 mr-md-4">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button type="button" class="btn btn-outline-light rounded-pill font-size-150 btn-sc-circle text-grey-1 border-grey-1 mr-2 mr-md-4">
            <i class="fab fa-twitter"></i>
          </button>
          <button type="button" class="btn btn-outline-light rounded-pill font-size-150 btn-sc-circle text-grey-1 border-grey-1 mr-2 mr-md-4">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>

      <div class="row mb-4 mb-md-4">
        <div class="col-12">
          <h6 class="font-size-95 text-grey-2 mb-3">PEMBAYARAN</h6>
          <img class="mr-2 mb-2" src="assets/svg/logo-bca-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-mandiri-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-bni-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-visa-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-mastercard-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-atmbersama-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-permatabank-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-prima-bordered.svg" width="80">
          <img class="mr-2 mb-2" src="assets/svg/logo-alto-bordered.svg" width="80">
          <p class="font-size-85 text-grey-2 mt-2 mt-lg-3">Aktivasi Instan dengan e-Payment Hosting dan domain langsung aktif!</p>
        </div>
      </div>

      <hr>

      <div class="row font-size-75">
        <div class="col-12 col-md-9 text-center text-md-left">
          <p class="mb-1">
            Copyright &copy;2016 Niagahoster I Hosting powered by PHP7, CloudLinux, CloudFlare. BitNinja and DC Biznet Technovillage Jakarta
          </p>
          <p>
            Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
          </p>
        </div>
        <div class="col-12 col-md-3  text-center text-md-left">
          <p>
            <a href="#" class="text-grey-1">Syarat dan ketentuan</a> |
            <a href="#" class="text-grey-1">Kebijakan Privasi</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
