<header class="position-relative">
  <nav class="d-none d-lg-block navbar navbar-expand-md navbar-light bg-white py-1 border" style="opacity: 1">
    <div class="container">
      <small class="alert alert-light alert-dismissible fade show m-0 p-0 mt-n3 letter-space-05" role="alert">
        <span class="position-relative">
          <svg width="2.75em" height="2.75em" viewBox="0 0 16 16" class="mt-n1 bi bi-bookmark-fill text-center" fill="#008fee" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
          </svg>
          <svg  class="bi bi-tag-fill position-absolute" style="top: -6; left: 0; bottom: 0; right: 0; margin: auto" width="1.35em" height="1.35em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>
        </span>
        <a href="#" class="font-size-93">{% trans %} Free Ebook {% endtrans %}</a>
        <button type="button" class="btn btn-sm p-0 font-size-93" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">{% trans %} Alert Close {% endtrans %}</span>
        </button>
      </small>

      <div class="navbar-collapse collapse font-size-90">
        <ul class="navbar-nav ml-auto align-items-center">
          {% for header in headers %}
            {% set title = header.text %}
            {% set class = header.class %}
            {% set style = header.style %}
            <li class="nav-item align-items-center">
              <a class="nav-link d-flex align-items-center" href="#">
                <i class="{{ class }}" style="{{ style }}"></i>
                <span>
                  {% trans %} %title% {% endtrans %}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <small class="d-block d-lg-none alert alert-light alert-dismissible fade show m-0 p-0 border" role="alert" >
    <div class="d-flex d-sm-block text-center justify-content-between align-items-center">
      <span style="position: relative;">
        <svg width="2.75em" height="2.75em" viewBox="0 0 16 16" class="mt-n1 bi bi-bookmark-fill text-center" fill="#008fee" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
        </svg>
        <svg style="position: absolute; top: -6; left: 0; bottom: 0; right: 0; margin: auto" width="1.35em" height="1.35em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="#fff" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
      </span>
      <a href="#" style="font-size:93%">{% trans %} Free Ebook {% endtrans %}</a>
      <button style="font-size: 93%" type="button" class="btn btn-sm p-0 ml-1" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">{% trans %} Alert Close {% endtrans %}</span>
      </button>
    </div>
  </small>

  <nav class="navbar navbar-expand-lg navbar-light bg-white border">
    <div class="container pt-lg-1">
      <a class="navbar-brand" href="#">
        <img src="{{ asset('assets/images/logo-niagahoster.png') }}" height="55" alt="Logo Niaga Hoster" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="#navbar-collapse-main" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar-collapse-main">
        <div class="d-flex d-lg-none justify-content-center">
          {% for menu in mini_menus %}
            {% set title = menu.text %}
            {% set icon = menu.icon %}
            <a class="nav-link d-flex align-items-center" href="#">
              <i class="{{ icon }}"></i>
              <span>{% trans %} %title% {% endtrans %}</span>
            </a>
          {% endfor %}
        </div>
        <ul class="navbar-nav ml-auto">
          {% for menu in menus %}
            <li class="nav-item">
              <a class="nav-link" href="#">{% trans %} %menu% {% endtrans %}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
