<section class="container font-monstserrat py-3" style="">
  <div class="row justify-content-center text-center">
    <div class="col-8 col-sm-6 col-md-4 col-lg-3 py-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center p-0">
          <object class="img-fluid" type="image/svg+xml" data="{{ asset('assets/svg/icon PHP Hosting_zendguard.svg') }}"></object>
        </div>
        <div class="card-footer bg-transparent border-0 p-0 pt-3">
          {% trans %}Zend{% endtrans %}
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3 py-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center p-0">
          <object class="img-fluid" type="image/svg+xml" data="{{ asset('assets/svg/icon PHP Hosting_composer.svg') }}"></object>
        </div>
        <div class="card-footer bg-transparent border-0 p-0 pt-3">
          {% trans %}Composer{% endtrans %}
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4 col-lg-3 py-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center p-0">
          <object class="img-fluid" type="image/svg+xml" data="{{ asset('assets/svg/icon PHP Hosting_ioncube.svg') }}"></object>
        </div>
        <div class="card-footer bg-transparent border-0 p-0 pt-3">
          {% trans %}IonCube{% endtrans %}
        </div>
      </div>
    </div>
  </div>
</section>
