<section class="container text-center my-4">
  <h3 class="font-monstserrat font-weight-normal mb-4">Semua Paket Hosting Sudah Termasuk</h3>
  <div class="row justify-content-between">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
          <object data="{{ asset('assets/svg/icon PHP Hosting_PHP Semua Versi.svg') }}" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="font-monstserrat font-weight-bold lead">
            PHP Semua Versi
          </div>
          <p class="d-none d-md-block">
            Pilih mulai dari versi PHP 5.3 s/d PHP 7.
            Ubah sesuka Anda!
          </p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
          <object data="{{ asset('assets/svg/icon PHP Hosting_My SQL.svg') }}" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="font-monstserrat font-weight-bold lead">
            MySQL Versi 5.6
          </div>
          <p class="d-none d-md-block">
            Nikmati MySQL versi terbaru, tercepat dan
            kaya akan fitur
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
          <object data="{{ asset('assets/svg/icon PHP Hosting_CPanel.svg') }}" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="font-monstserrat font-weight-bold lead">
            Panel Hosting CPanel
          </div>
          <p class="d-none d-md-block">
            Kelola website dengan panel canggih yang
            familiar di hati Anda.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
          <object data="{{ asset('assets/svg/icon PHP Hosting_garansi uptime.svg') }}" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="font-monstserrat font-weight-bold lead">
            Garansi Uptime 99.9%
          </div>
          <p class="d-none d-md-block">
            Data center yang mendukung kelangsungan
            website Anda 24/7
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
          <object data="{{ asset('assets/svg/icon PHP Hosting_InnoDB.svg') }}" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="font-monstserrat font-weight-bold lead">
            Database InnoDB Unlimited
          </div>
          <p class="d-none d-md-block">
            Jumlah dan ukuran database yang tumbuh
            sesuai kebutuhan anda
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 text-center border-0">
        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
          <object data="{{ asset('assets/svg/icon PHP Hosting_My SQL remote.svg') }}" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
        </div>
        <div class="card-footer bg-transparent border-0">
          <div class="font-monstserrat font-weight-bold lead">
            Wildcard Remote MySQL
          </div>
          <p class="d-none d-md-block">
            Mendukung s/d 25 max_user_connections
            dan 100 max_connections
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
