
<section class="container font-monstserrat text-center my-4 mt-lg-5">
  <h3 class="font-weight-bold heading-2">{% trans %}Hosting Singapura{% endtrans %}</h3>
  <h4 class="font-weight-normal">{% trans %}Diskon 40{% endtrans %}</h4>
  <div class="row pt-5 no-gutters justify-content-center">
    <div class="col-11 col-sm-12 col-md-12 col-lg-3">
      <div class="card mb-5">
        <div class="card-header bg-transparent py-1 pt-2">
          <h4 class="font-weight-bold">{{ packages.bayi.name }}</h4>
        </div>
        <div class="card-header bg-transparent font-weight-medium">
          <del class="font-weight-medium">Rp {{ packages.bayi.old_price }}</del>
          <div class="d-flex justify-content-center">
            <span class="mr-2 mt-2">Rp</span>
            {% set bayi = packages.bayi.new_price|split('.') %}
            <h1 class="font-weight-bold display-4">{{ bayi.0 }}</h1>
            <span class="mt-2">
              <strong>.{{ bayi.1 }}</strong>/ bln
            </span>
          </div>
        </div>
        <div class="card-header bg-transparent py-2 font-roboto font-size-90">
          <strong>{{ packages.bayi.users }}</strong> Pengguna terdaftar
        </div>
        <div class="card-body font-roboto font-size-90 py-4">
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong>
                0.5X RESOURCE POWER
              </strong>
            </li>
            <li class="mb-2">
              <strong>
                500 MB
              </strong>
              Disk Space
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Bandwith
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Databases
            </li>
            <li class="mb-2">
              <strong>
                1
              </strong>
              Domain
            </li>
            <li class="mb-2">
              <strong>
                Instant
              </strong>
              Backup
            </li>
            <li class="mb-2">
              <strong>
                Unlimited SSL
              </strong>
              Gratis Selamanya
            </li>
          </ul>
          <a href="#" class="mt-4 btn btn-outline-dark rounded-pill font-weight-bolder font-monstserrat font-size-95  py-2 px-4" style="border-width: 2px;">Pilih Sekarang</a>
        </div>
      </div>
    </div>
    <div class="col-11 col-sm-12 col-md-12 col-lg-3">
      <div class="card mb-5">
        <div class="card-header bg-transparent py-1 pt-2">
          <h4 class="font-weight-bold">{{ packages.pelajar.name }}</h4>
        </div>
        <div class="card-header bg-transparent font-weight-medium">
          <del class="font-weight-medium">Rp {{ packages.pelajar.old_price }}</del>
          <div class="d-flex justify-content-center">
            <span class="mr-2 mt-2">Rp</span>
            {% set pelajar = packages.pelajar.new_price|split('.') %}
            <h1 class="font-weight-bold display-4">{{ pelajar.0 }}</h1>
            <span class="mt-2">
              <strong>.{{ pelajar.1 }}</strong>/ bln
            </span>
          </div>
        </div>
        <div class="card-header bg-transparent py-2 font-roboto font-size-90">
          <strong>{{ packages.pelajar.users }}</strong> Pengguna terdaftar
        </div>
        <div class="card-body font-roboto font-size-90 py-4">
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong>
                1X RESOURCE POWER
              </strong>
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Disk Space
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Bandwith
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              POP3 Email
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Databases
            </li>
            <li class="mb-2">
              <strong>
                10
              </strong>
              Addon Domains
            </li>
            <li class="mb-2">
              <strong>
                Instant
              </strong>
              Backup
            </li>
            <li class="mb-2">
              <strong>
                Domain Gratis
              </strong>
              Selamanya
            </li>
            <li class="mb-2">
              <strong>
                Unlimited SSL
              </strong>
              Gratis Selamanya
            </li>
          </ul>
          <a href="#" class="mt-4 btn btn-outline-dark rounded-pill font-weight-bolder font-monstserrat font-size-95  py-2 px-4" style="border-width: 2px;">Pilih Sekarang</a>
        </div>
      </div>
    </div>
    <div class="col-11 col-sm-12 col-md-12 col-lg-3 best-seller">
      <div class="card mb-5 ribbon-box border border-blue-1">
        <div class="ribbon ribbon-top-left"><span>best seller!</span></div>
        <div class="card-header bg-transparent py-1 pt-2 bg-blue-1 text-white border-blue-1">
          <h4 class="font-weight-bold">{{ packages.personal.name }}</h4>
        </div>
        <div class="card-header bg-transparent font-weight-medium bg-blue-1 text-white">
          <del class="font-weight-medium">Rp {{ packages.personal.old_price }}</del>
          <div class="d-flex justify-content-center">
            <span class="mr-2 mt-2">Rp</span>
            {% set personal = packages.personal.new_price|split('.') %}
            <h1 class="font-weight-bold display-4">{{ personal.0 }}</h1>
            <span class="mt-2">
              <strong>.{{ personal.1 }}</strong>/ bln
            </span>
          </div>
        </div>
        <div class="card-header bg-transparent py-2 font-roboto font-size-90 text-white bg-blue-2 border-blue-2">
          <strong>{{ packages.personal.users }}</strong> Pengguna terdaftar
        </div>
        <div class="card-body font-roboto font-size-90 py-4 border-blue-1">
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong>
                2X RESOURCE POWER
              </strong>
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Disk Space
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Bandwith
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              POP3 Email
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Databases
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Addon Domains
            </li>
            <li class="mb-2">
              <strong>
                Instant
              </strong>
              Backup
            </li>
            <li class="mb-2">
              <strong>
                Domain Gratis
              </strong>
              Selamanya
            </li>
            <li class="mb-2">
              <strong>
                Unlimited SSL
              </strong>
              Gratis Selamanya
            </li>
            <li class="mb-2">
              <strong>
                Private
              </strong>
              Name Server
            </li>
            <li class="mb-2">
              <strong>
                SpamAssasin
              </strong>
              Mail Protection
            </li>
          </ul>
          <a href="#" class="mt-4 btn btn-primary bg-blue-1 border-blue-1 rounded-pill font-weight-bolder font-monstserrat font-size-95  py-2 px-4" style="border-width: 2px;">Pilih Sekarang</a>
        </div>
      </div>
    </div>
    <div class="col-11 col-sm-12 col-md-12 col-lg-3">
      <div class="card mb-5">
        <div class="card-header bg-transparent py-1 pt-2">
          <h4 class="font-weight-bold">{{ packages.bisnis.name }}</h4>
        </div>
        <div class="card-header bg-transparent font-weight-medium">
          <del class="font-weight-medium">Rp {{ packages.bisnis.old_price }}</del>
          <div class="d-flex justify-content-center">
            <span class="mr-2 mt-2">Rp</span>
            {% set bisnis = packages.bisnis.new_price|split('.') %}
            <h1 class="font-weight-bold display-4">{{ bisnis.0 }}</h1>
            <span class="mt-2">
              <strong>.{{ bisnis.1 }}</strong>/ bln
            </span>
          </div>
        </div>
        <div class="card-header bg-transparent py-2 font-roboto font-size-90">
          <strong>{{ packages.bisnis.users }}</strong> Pengguna terdaftar
        </div>
        <div class="card-body font-roboto font-size-90 py-4">
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong>
                3X RESOURCE POWER
              </strong>
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Disk Space
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Bandwith
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              POP3 Email
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Databases
            </li>
            <li class="mb-2">
              <strong>
                Unlimited
              </strong>
              Addon Domains
            </li>
            <li class="mb-2">
              <strong>
                Magic Auto
              </strong>
              Backup & Restore
            </li>
            <li class="mb-2">
              <strong>
                Domain Gratis
              </strong>
              Selamanya
            </li>
            <li class="mb-2">
              <strong>
                Unlimited SSL
              </strong>
              Gratis Selamanya
            </li>
            <li class="mb-2">
              <strong>
                Private
              </strong>
              Name Server
            </li>
            <li class="mb-2">
              <strong>
                Prioritas
              </strong>
              Layanan Support
            </li>
            <li class="mb-2">
              <span class="font-size-90 text-blue-1">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
            </li>
            <li class="mb-2">
              <strong>
                SpamExpert
              </strong>
              ProMail Protection
            </li>
          </ul>
          <a href="#" class="mt-4 btn btn-outline-dark rounded-pill font-weight-bolder font-monstserrat font-size-95  py-2 px-4" style="border-width: 2px;">&nbsp;&nbsp;&nbsp;Diskon 40%&nbsp;&nbsp;&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</section>
