<section class="container text-center my-4 mt-lg-5">
  <h3 class="font-monstserrat font-weight-normal mb-4">Powerful dengan Limit PHP yang Lebih Besar</h3>
  <div class="row justify-content-center d-md-none text-left no-gutters align-items-center">
    <div class="col-12 col-md-6 col-lg-5">
      <table class="table table-striped border mt-3 font-weight-light">
        <tbody>
          <thead>
            <tr>
              <td><i class="fas fa-check-circle text-success font-size-125"></i> max execute time 300s</td>
            </tr>
          </thead>
          <tr>
            <td><i class="fas fa-check-circle text-success font-size-125"></i> max execute time 300s</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle text-success font-size-125"></i> php memory limit 1024 MB</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle text-success font-size-125"></i> post max size 128 MB</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle text-success font-size-125"></i> upload max filesize 128 MB</td>
          </tr>
          <tr>
            <td><i class="fas fa-check-circle text-success font-size-125"></i> max input vars 2500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center d-none d-md-flex">
    <div class="col-12 col-md-6 col-lg-5">
      <table class="table table-striped border mt-3 font-weight-light">
        <tbody>
          <thead>
            <tr>
              <td class="text-left"><i class="fas fa-check-circle text-success font-size-125"></i></td>
              <td>max execute time 300s</td>
            </tr>
          </thead>
          <tr>
            <td class="text-left"><i class="fas fa-check-circle text-success font-size-125"></i></td>
            <td>max execute time 300s   </td>
          </tr>
          <tr>
            <td class="text-left"><i class="fas fa-check-circle text-success font-size-125"></i></td>
            <td>php memory limit 1024 MB</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <table class="table table-striped border mt-3 font-weight-light">
        <tbody>
          <thead>
            <tr>
              <td class="text-left"><i class="fas fa-check-circle text-success font-size-125"></i></td>
              <td>post max size 128 MB</td>
            </tr>
          </thead>
          <tr>
            <td class="text-left"><i class="fas fa-check-circle text-success font-size-125"></i></td>
            <td>upload max filesize 128 MB</td>
          </tr>
          <tr>
            <td class="text-left"><i class="fas fa-check-circle text-success font-size-125"></i></td>
            <td>max input vars 2500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>
