<section class="php-hosting container font-monstserrat">
  <div class="row align-items-center">
    <div class="col-12 col-md-7 col-lg-6">
      <h1 class="font-weight-bold">{% trans %} PHP Hosting {% endtrans %}</h1>
      <h5 class="font-weight-normal d-block d-lg-none">{% trans %} Cepat handal {% endtrans %}</h5>
      <h3 class="font-weight-normal d-none d-lg-block">{% trans %} Cepat handal {% endtrans %}</h3>
      <ul class="list-unstyled mt-4">
        <li class="my-2 mt-lg-2 mb-lg-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span>
            {% trans %} Solusi PHP {% endtrans %}
          </span>
        </li>
        <li class="my-2 mt-lg-2 mb-lg-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span>
            {% trans %} Konsumsi {% endtrans %}
          </span>
        </li>
        <li class="my-2 mt-lg-2 mb-lg-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span>
            {% trans %} Support PHP {% endtrans %}
          </span>
        </li>
        <li class="my-2 mt-md-2 mb-md-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span>
            {% trans %} Enkripsi {% endtrans %}
          </span>
        </li>
      </ul>
    </div>
    <div class="col-10 offset-2 col-sm-9 offset-sm-3 offset-md-0 col-md-5 col-lg-6">
      <div class="row align-items-center">
        <div class="col-12 col-lg-11 offset-lg-1">
          <img src="{{ asset('assets/svg/illustration banner PHP hosting-01.svg') }}" class="img-fluid w-100" alt="PHP Hosting">
        </div>
      </div>
    </div>
  </div>
</section>
