<section class="php-hosting container font-monstserrat">
  <h3 class="font-monstserrat font-weight-normal mb-3 mt-4 text-center">Mendukung Penuh Framework Laravel</h3>
  <div class="row align-items-center">
    <div class="col-12 col-md-7 col-lg-6">
      <p class="font-size-115 letter-space-05">
        Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit anda
      </p>
      <ul class="list-unstyled mt-4">
        <li class="my-2 mt-lg-2 mb-lg-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span class="font-roboto">
            Install Laravel <strong>1 klik</strong> dengan Softculous Installer.
          </span>
        </li>
        <li class="my-2 mt-lg-2 mb-lg-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span class="font-roboto">
            Mendukung ekstensi <strong>PHP MCrypt, phar, mbstring, json,</strong> dan <strong>fileinfo</strong>
          </span>
        </li>
        <li class="my-2 mt-lg-2 mb-lg-3 d-flex">
          <i class="fas fa-check-circle text-success font-size-125 mr-2"></i>
          <span class="font-roboto">
            Tersedia <strong>Composer</strong> dan <strong>SSH</strong> untuk menginstal packages pilihan Anda.
          </span>
        </li>
      </ul>
      <div class="font-roboto" style="line-height: 1">
        <small>Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small>
      </div>
      <a href="#" class="mt-4 btn btn-primary bg-blue-1 border-blue-1 rounded-pill font-weight-bolder font-monstserrat  py-2 px-4" style="border-width: 2px;">Pilih Hosting Anda</a>
    </div>
    <div class="col-10 offset-2 col-sm-9 offset-sm-3 offset-md-0 col-md-5 col-lg-6">
      <div class="row align-items-center">
        <div class="col-12 col-lg-11 offset-lg-1">
          <img src="assets/svg/illustration banner support laravel hosting.svg" class="img-fluid w-100" alt="Laravel Support">
        </div>
      </div>
    </div>
  </div>
</section>
