<section class="container text-center">
  <h3 class="font-monstserrat font-weight-normal mb-5 mt-5 text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h3>
  <div class="row align-items-center justify-content-center text-center text-md-left">
    <div class="col-6 col-md-3 col-lg-3 offset-lg-1">
      <ul class="list-unstyled">
        <li class="list-inline-item d-block">IcePHP</li>
        <li class="list-inline-item d-block">apc</li>
        <li class="list-inline-item d-block">apcu</li>
        <li class="list-inline-item d-block">apm</li>
        <li class="list-inline-item d-block">ares</li>
        <li class="list-inline-item d-block">bcmath</li>
        <li class="list-inline-item d-block">bcompiler</li>
        <li class="list-inline-item d-block">big_int</li>
        <li class="list-inline-item d-block">bitset</li>
        <li class="list-inline-item d-block">bloomy</li>
        <li class="list-inline-item d-block">bz2_filter</li>
        <li class="list-inline-item d-block">clamav</li>
        <li class="list-inline-item d-block">coin_acceptor</li>
        <li class="list-inline-item d-block">crack</li>
        <li class="list-inline-item d-block">dba</li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-3">
      <ul class="list-unstyled">
        <li class="list-inline-item d-block">http</li>
        <li class="list-inline-item d-block">huffman</li>
        <li class="list-inline-item d-block">idn</li>
        <li class="list-inline-item d-block">igbinary</li>
        <li class="list-inline-item d-block">imagick</li>
        <li class="list-inline-item d-block">imap</li>
        <li class="list-inline-item d-block">included</li>
        <li class="list-inline-item d-block">inotify</li>
        <li class="list-inline-item d-block">interbase</li>
        <li class="list-inline-item d-block">intl</li>
        <li class="list-inline-item d-block">ioncube_loader</li>
        <li class="list-inline-item d-block">ioncube_loader_4</li>
        <li class="list-inline-item d-block">jmin</li>
        <li class="list-inline-item d-block">json</li>
        <li class="list-inline-item d-block">Idap</li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-3">
      <ul class="list-unstyled">
        <li class="list-inline-item d-block">nd_pdo_mysql</li>
        <li class="list-inline-item d-block">oauth</li>
        <li class="list-inline-item d-block">oci8</li>
        <li class="list-inline-item d-block">odbc</li>
        <li class="list-inline-item d-block">opcache</li>
        <li class="list-inline-item d-block">pdf</li>
        <li class="list-inline-item d-block">pdo</li>
        <li class="list-inline-item d-block">pdo_dblib</li>
        <li class="list-inline-item d-block">pdo_firebird</li>
        <li class="list-inline-item d-block">pdo_mysql</li>
        <li class="list-inline-item d-block">pdo_odbc</li>
        <li class="list-inline-item d-block">pdo_pgsql</li>
        <li class="list-inline-item d-block">pdo_sqlite</li>
        <li class="list-inline-item d-block">pgsql</li>
        <li class="list-inline-item d-block">phalcon</li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <ul class="list-unstyled">
        <li class="list-inline-item d-block">stats</li>
        <li class="list-inline-item d-block">stem</li>
        <li class="list-inline-item d-block">stomp</li>
        <li class="list-inline-item d-block">suhosin</li>
        <li class="list-inline-item d-block">sybase_ct</li>
        <li class="list-inline-item d-block">sysvmsg</li>
        <li class="list-inline-item d-block">sysvsem</li>
        <li class="list-inline-item d-block">sysvhm</li>
        <li class="list-inline-item d-block">tidy</li>
        <li class="list-inline-item d-block">timezonedb</li>
        <li class="list-inline-item d-block">trader</li>
        <li class="list-inline-item d-block">translit</li>
        <li class="list-inline-item d-block">uploadprogress</li>
        <li class="list-inline-item d-block">uri_template</li>
        <li class="list-inline-item d-block">uuid</li>
      </ul>
    </div>
  </div>
  <a href="#" class="mt-4 btn btn-outline-dark rounded-pill font-weight-bolder font-monstserrat py-2 px-4" style="border-width: 2px;">&nbsp;&nbsp;Selengkapnya&nbsp;&nbsp;</a>
</section>
