<section class="php-hosting container font-monstserrat mt-5">
  <div class="row align-items-end justify-content-between">
    <div class="col-12 col-md-9 col-lg-6">
      <h3 class="d-md-none font-monstserrat font-weight-normal mb-3">
        Linux Hosting yang Stabil dengan Teknologi LIVE
      </h3>
      <h3 class="d-none d-md-block font-monstserrat font-weight-normal mb-3">
        Linux Hosting yang Stabil <br>
        dengan Teknologi LIVE
      </h3>
      <p class="font-roboto font-weight-light pr-lg-5 mb-0 mb-lg-3">
        SuperMicro <strong class="font-weight-medium">Intel Xeon 24-Cores</strong>
        server dengan <strong class="font-weight-medium">RAM 128 GB</strong> dan teknologi
        <strong class="font-weight-medium">LVE CloudLinux</strong> untuk stabilitas server Anda.
        Dilengkapi dengan <strong class="font-weight-medium">SSD</strong> untuk kecepatan <strong class="font-weight-medium">MySQL</strong> dan caching.
        Apache load balancer berbasis LiteSpeed Technologies,
        <strong class="font-weight-medium">CageFS</strong> security, <strong class="font-weight-medium">Raid-10</strong> protection
        dan auto backup untuk keamanan website PHP Anda.
      </p>
      <a href="#" class="mt-4 mb-5 btn btn-primary bg-blue-1 border-blue-1 rounded-pill font-weight-bolder font-monstserrat  py-2 px-4" style="border-width: 2px;">Pilih Hosting Anda</a>
    </div>
    <div class="col-10 offset-2 col-sm-9 offset-sm-3  col-md-7 offset-md-5 col-lg-6 offset-lg-0">
      <img src="assets/images/Image support.png" class="img-fluid w-100" alt="CS Support">
    </div>
  </div>
</section>
