<section class="bg-light py-4">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center text-md-left">
      <div class="col-12 col-md-6 font-monstserrat font-weight-medium">
        <div>Bagikan jika Anda menyukai halaman ini.</div>
      </div>
      <div class="col-12 col-md-6 font-monstserrat">
        <a href="#" class="text-primary mx-2 text-decoration-none">
          <i class="fab fa-facebook-square" style="font-size: 2.75em"></i>
        </a>
        <a href="#" class="text-blue-3 mr-2 text-decoration-none">
          <i class="fab fa-twitter-square" style="font-size: 2.75em"></i>
        </a>
        <a href="#" class="text-danger mr-2 text-decoration-none">
          <i class="fab fa-google-plus-square" style="font-size: 2.75em"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-3 py-5">
  <div class="container">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-12 col-lg-9">
        <h3 class="font-monstserrat font-weight-normal text-white">
          <p class="d-md-inline">
            Perlu <strong>BANTUAN?</strong>
          </p>
          <p class="d-md-inline">
            <div class="d-sm-inline">Hubungi Kami :</div>
            <div class="d-sm-inline"><strong>0274-5305505</strong></div>
          </p>
        </h3>
      </div>
      <div class="col-12 col-lg-3 text-md-right">
        <a href="#" class="btn btn-outline-light rounded-pill font-weight-bolder font-monstserrat py-2 px-4 font-size-115" style="border-width: 2px;">
          <i class="fas fa-comment-alt mr-2 font-size-125"></i>
          Live Chat
        </a>
      </div>
    </div>
  </div>
</section>
